
html{
	background:#2778E8;
	font-family: sans-serif;
	color:whitesmoke;
	font-size: 20px;
  width: 80%;
  max-width: 1280px;
  margin: auto;

}

aside ul{
  list-style-type: none;
}

aside ul li{
  margin: 1em;
  text-align: center;
}

.intro{
  height: 550px;
}

#zen-intro header{
  background-color: rgb(12, 44, 114);
  color:rgb(199, 207, 169)
}

#zen-intro header h1, #zen-intro header h2{
  display: inline-block;
}
#zen-intro header h1{
  margin-left: 1em;
  margin-right: 1em;
}

#design-archives{
  display: none;
}

.page-wrapper{
  position: relative;
}	
.explanation{
  width: 60%;
  border-right: whitesmoke solid 1px ;
  padding-right: 2%;

}

#design-selection{
  position: absolute;
  top: 490px;
  left: 62%;
  padding-left: 1%;
  padding-right: 1%;

}

.design-selection li{
  border-top: whitesmoke solid 1px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.design-selection li:last-of-type{
  border-bottom: whitesmoke solid 1px;
 
}

.supporting footer{
  display: flex;
  justify-content: space-between;
}

.participation{
  display: flex;
  flex-wrap: wrap;
  border-top: whitesmoke solid 1px;
 
}

.participation h3, .participation p{
  flex-basis: 50%;
}

.participation h3{
  align-self: center;
}



.benefits{
  display: flex;
  border-top: whitesmoke solid 1px;
  border-bottom: whitesmoke solid 1px;
}

.benefits p{
  flex-basis: 70%;
}

.benefits h3{
  order: 2;
  align-self: center;
  flex-basis: 30%;
}

.main footer{
  margin: 4%;

}

.main footer a {
  border:solid 2px yellowgreen;
  padding: 0.5em;
}

.main p:first-of-type::first-letter{
  font-size: 3em;
  font-family: serif;
  float:left;
}

A{
	color: yellow;
  font-weight: bold;
}

a:hover{
  color:rgb(105, 105, 4)
}
a:visited{
  font-weight: normal;
  color: rgb(221, 221, 173);
}

p {
  text-indent: 1em; /* Indenta parágrafos */
  /*testes da aula box model
  border:solid 1px black;
  padding: 2%;
  margin: 30px;
  background-color: rgb(81, 116, 192);
  background-image: url(https://picsum.photos/200/300);*/

}


h1 {
  font-size: 1.8rem;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
}


.summary {
  text-align: right; /* ou right */
}

.main p {
  line-height: 1.5; /* Espaçamento entre linhas */
}

abbr {
  font-variant: small-caps;
}

