
html{
	background:#2778E8;
	font-family: sans-serif;
	color:whitesmoke;
	font-size: 20px;
  	width: 80%;
  	max-width: 1280px;
  	margin: auto;

}

aside ul{
  list-style-type: none;
}

aside ul li{
  margin: 1em;
  text-align: center;
}

.intro{
  height: 550px;
}

#zen-intro header{
  background-color: rgb(12, 44, 114);
  color:rgb(199, 207, 169)
}

#zen-intro header h1, #zen-intro header h2{
  display: inline-block;
}
#zen-intro header h1{
  margin-left: 1em;
  margin-right: 1em;
}

#design-archives{
  display: none;
}
	
.main footer{
  margin: 4%;

}

.main footer a {
  border:solid 2px yellowgreen;
  padding: 0.5em;
}

A{
	color: yellow;
}


p {
  text-indent: 1em; /* Indenta parágrafos */
  /*testes da aula box model
  border:solid 1px black;
  padding: 2%;
  margin: 30px;
  background-color: rgb(81, 116, 192);
  background-image: url(https://picsum.photos/200/300);*/

}


h1 {
  font-size: 1.8rem;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
}


.summary {
  text-align: right; /* ou right */
}

.main p {
  line-height: 1.5; /* Espaçamento entre linhas */
}

abbr {
  font-variant: small-caps;
}

