
html{
	background:#2778E8;
	font-family: sans-serif;
	color:whitesmoke;
	font-size: 20px;
}
	
A{
	color: yellow;
}


p {
  text-indent: 1em; /* Indenta parágrafos */
}


h1 {
  font-size: 1.8rem;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
}


.summary {
  text-align: right; /* ou right */
}

.main p {
  line-height: 1.5; /* Espaçamento entre linhas */
}

abbr {
  font-variant: small-caps;
}
