
html{
	background:rgb(207, 231, 211);
	font-family: sans-serif;
	color:rgb(0, 0, 0);
	font-size: 20px;
  width: 80%;
  max-width: 1280px;
  margin: auto;

}

a{
	color: rgb(255, 255, 255);
  font-weight: bold;
}

a:hover{
  color:rgb(197, 197, 5)
}
a:visited{
  font-weight: normal;
  color: rgb(132, 106, 204);
}

p {
  text-align: justify;
}


h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
h4{
  font-family: 'Times New Roman', Times, serif;
}

abbr {
  font-variant: small-caps;
}


@media screen and (max-width: 768px){
  nav ul{
    display:flex;
    list-style: none;
    flex-direction: column;
  }
  #educacao{
    display: flex;
    flex-direction: column; 
  }
  #experiencia{
    display: flex;
    flex-direction: column;
  }
  #cabecalho{
    display: flex;
    flex-direction: column;
  }
  #contemail{
    position: absolute;
    top: 4800px;
  }
}

nav{
    background-color: #10b981; /* Cor de fundo */
    color: white;
    position: fixed; /* Fixa a barra no topo da janela de visualização */
    top: 0;
    
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
}
nav a {
  color: white; /* Cor do texto dos links */
  text-decoration: none; /* Remove sublinhado */
  margin: 0 15px; /* Espaçamento entre os links */
  font-weight: bold;
  transition: color 0.3s;
}
nav a:hover {
  color: #4CAF50; /* Cor ao passar o mouse */
}
        /* Estilização titulos */
.cv-section {
  padding: 2rem;
  margin-bottom: 1.5rem;
  background-color: white;
  border-radius: 0.75rem; /* cantos arredondados */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06); /* Sombra suave */
}
        /* Estilo para a linha divisória teste */
.divider {
            height: 2px;
            width: 100%;
            background-color: #e5e7eb;
            margin: 1.5rem 0;
}
        /* Estilo para os títulos de seção */
.section-title {
            border-bottom: 3px solid #10b981; /* Borda verde esmeralda */
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;
}
footer{
  background-color: #ebcf76;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 1rem;
}